<p-toast></p-toast>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <div class="site-branding">
        <a class="logo" href="index.html">
          <!-- logo image  -->
          <img src="assets/images/logo_pasteur.png" alt="Logo" height="50" />
        </a>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a data-scroll href="#about">A propos</a></li>
        <li><a data-scroll href="#registration">Inscription</a></li>
        <li><a data-scroll href="#schedule">Programme</a></li>
        <li><a data-scroll href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>

<header id="site-header" class="site-header valign-center">
  <div class="intro">
    <h1>FORUM EMPLOI DAKAR 2023</h1>

    <h2>02 AU 04 NOVEMBRE 2023 / CAMPUS PASTEUR DE DAKAR</h2>

    <p id="countdown"></p>
    <a class="btn btn-white" data-scroll href="#registration">Inscrivez-vous</a>
  </div>
</header>

<section id="about" class="section about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <h3 class="section-title">À PROPOS</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>
              L'Institut Pasteur de Dakar (IPD) est une fondation d’utilité publique sénégalaise dédiée à la santé publique, la recherche, l'innovation et l'éducation en Afrique.
              Depuis sa fondation, l’Institut n’a cessé de se développer pour le bénéfice des populations et est aujourd’hui spécialisée dans les 5 domaines suivants :
            </p>
            <li>Recherche & Développement</li>
            <li>Diagnostic, vaccination, alimentation et environnement</li>
            <li>Éducation, formation et développement des talents</li>
            <li>Expertise et orientation stratégique en santé publique</li>
            <li>Production et distribution de vaccins et de dispositifs médicaux.</li>

            <figure class="mt-2">
              <img alt="" class="img-responsive" src="assets/images/about-us.jpg" width="570" height="182" />
            </figure>
          </div>
          <div class="col-sm-6">
            <p>
              De manière unique, l’IPD rassemble ainsi des capacités et des fonctions clés pour relever les défis de santé publique et les menaces mondiales et joue un rôle
              régional important dans ses partenariats avec l'OMS et la lutte contre les maladies infectieuses.
            </p>
            <p>
              A l’IPD, nous inspirons, nous éduquons et nous attirons des Femmes et des Hommes de sciences passionnés et visionnaires pour développer des solutions significatives
              et efficaces aux problèmes de santé publique en Afrique ! Notre Ambition est de diriger, influencer et rendre la santé humaine accessible, équitable et durable à
              toutes les populations.
            </p>
          </div>
        </div>
      </div>
      <!-- /.col-sm-6 -->

      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
    <div class="row mt-3">
      <div class="col-sm-6">
        <h3 class="section-title multiple-title">OBJECTIFS DU SALON</h3>

        <ul class="list-arrow-right">
          <li>Informer sur la Vision et la Mission de l’Institut en promouvant notamment sa Marque Employeur en local et à l’international.</li>
          <li>Attirer en un temps record le maximum de profils et pourvoir les 200 postes vacants</li>
          <li>Constituer un riche vivier de profils talents pour les futures échéances de la Fondation.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

<section id="schedule" class="section schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">AGENDA</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="09:00">09:00</time> - <time datetime="17:00">17:00</time></div>
          <h3>Programme Jour 1</h3>
          <p>Plus d'infos</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="09:00">09:00</time> - <time datetime="17:00">17:00</time></div>
          <h3>Programme Jour 2</h3>
          <p>Plus d'infos</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="09:00">09:00</time> - <time datetime="17:00">17:00</time></div>
          <h3>Programme Jour 3</h3>
          <p>Plus d'infos</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="section registration">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Je m'inscris</h3>
      </div>
    </div>

    <form [formGroup]="registerForm" (submit)="onSubmit()" id="registration-form">
      <div class="row">
      <div class="col">
        <div class="formField  flex align-items-center">
          <label class="md:mr-4" for="sexe">Sélectionner votre sexe</label>
          <div *ngFor="let sexe of sexe_choices; index as i" class="field-checkbox ml-2">
            <p-radioButton [inputId]="sexe + i" [value]="sexe" formControlName="sexe"></p-radioButton>
            <label [for]="sexe + i">{{ sexe }}</label>
          </div>
          <ng-container *ngIf="registerForm.get('sexe')?.dirty || registerForm.get('sexe')?.touched">
            <small class="text-error ml-3" *ngIf="registerForm.get('sexe')?.errors">Ce champs est requis</small>
          </ng-container>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-6">

          <div class="formField ">
            <div class="p-float-label">
              <input class="w-full" type="text" id="firstname" placeholder="Prénom" pInputText formControlName="firstname" />
              <label htmlFor="firstname">Prénom</label>
            </div>
            <ng-container *ngIf="registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched">
              <small class="text-error" *ngIf="registerForm.get('firstname')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

          <div class="formField ">
            <div class="p-float-label">
              <input class="w-full" id="lastname" type="text" placeholder="Nom" pInputText formControlName="lastname" />
              <label htmlFor="lastname">Nom</label>
            </div>
            <ng-container *ngIf="registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched">
              <small class="text-error" *ngIf="registerForm.get('lastname')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

          <div class="formField ">
            <div class="p-float-label">
              <input class="w-full" id="email" type="email" pInputText formControlName="email" placeholder="Email" />
              <label htmlFor="email">Email</label>
            </div>
            <ng-container *ngIf="registerForm.get('email')?.dirty || registerForm.get('email')?.touched">
              <small class="text-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['required']">Ce champs est requis</small>
              <small class="text-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['emailAlreadyExist']">
                {{ registerForm.controls['email'].errors['emailAlreadyExist'] }}
              </small>
            </ng-container>
          </div>
          <div class="formField ">
            <div class="p-float-label">
              <input type="text" id="phoneNumber" class="w-full" pInputText formControlName="phoneNumber" placeholder="Phone" id="cell" name="cell" />
              <label htmlFor="phoneNumber">Numéro de Téléphone</label>
            </div>
            <ng-container *ngIf="registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched">
              <small class="text-error" *ngIf="registerForm.get('phoneNumber')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

          <div class="formField ">
            <div class="p-float-label">
              <p-dropdown placeholder="Lieu de résidence" inputId="residence" styleClass="w-full" formControlName="residence" [options]="residenceChoices"></p-dropdown>
              <label htmlFor="residence">Lieu de résidence</label>
            </div>
            <ng-container *ngIf="registerForm.get('residence')?.dirty || registerForm.get('residence')?.touched">
              <small class="text-error" *ngIf="registerForm.get('residence')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">

          <div class="formField ">
            <div class="p-float-label">
              <p-dropdown placeholder="Sélectionner le diplôme obtenu" styleClass="w-full" formControlName="diplome" inputId="diplome" [options]="diplomes_choices"></p-dropdown>
              <label for="diplome">Diplôme</label>
            </div>
            <ng-container *ngIf="registerForm.get('diplome')?.dirty || registerForm.get('diplome')?.touched">
              <small class="text-error" *ngIf="registerForm.get('diplome')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>
          <div class="formField ">
            <div class="p-float-label">
              <p-dropdown
                placeholder="Sélectionner votre nombre d'année d'expériences obtenu"
                styleClass="w-full"
                formControlName="experience"
                [options]="years_experience_choices"
                (onChange)="onExperienceSelected($event)"
                inputId="experience"
              ></p-dropdown>
              <label for="experience">Années d'expérience</label>
            </div>
            <ng-container *ngIf="registerForm.get('experience')?.dirty || registerForm.get('experience')?.touched">
              <small class="text-error" *ngIf="registerForm.controls['experience'].errors && registerForm.controls['experience'].errors['required']">Ce champs est requis</small>
            </ng-container>
          </div>
          <div class="formField  mt-3">
            <div class="p-float-label">
              <p-multiSelect styleClass="w-full" inputId="metier" [options]="list_metiers" [selectionLimit]="3" formControlName="metier" defaultLabel="Sélectionner un(des) metier(s)" display="chip"></p-multiSelect>
              <label for="metier">Metiers choisis</label>
            </div>
              <ng-container *ngIf="registerForm.get('metier')?.dirty || registerForm.get('metier')?.touched">
                <small class="text-error" *ngIf="registerForm.controls['metier'].errors && registerForm.controls['metier'].errors['required']">Ce champs est requis</small>
              </ng-container>
          </div>

          <div class="formField ">
            <div class="p-float-label">
              <p-dropdown placeholder="Sélectionner une journee suivant le programme" inputId="journee" styleClass="w-full" formControlName="journee" (onChange)="onProgrammeSelected($event)" [options]="journees_choices"></p-dropdown>
              <label for="journee">Programme</label>
            </div>
            <ng-container *ngIf="registerForm.get('journee')?.dirty || registerForm.get('journee')?.touched">
              <small class="text-error" *ngIf="registerForm.controls['journee'].errors && registerForm.controls['journee'].errors['required']">Ce champs est requis</small>
              <small class="text-error" *ngIf="registerForm.controls['journee'].errors && registerForm.controls['journee'].errors['invalidProgram']"> {{registerForm.controls['journee'].errors['invalidProgram']}} </small>
            </ng-container>
          </div>
          <div class="formField ">
            <p-multiSelect styleClass="w-full" [options]="list_languages" formControlName="languesMaitrisees" defaultLabel="Sélectionner les langues maîtrisées" display="chip"></p-multiSelect>
            <ng-container *ngIf="registerForm.get('languesMaitrisees')?.dirty || registerForm.get('languesMaitrisees')?.touched">
              <small class="text-error" *ngIf="registerForm.get('languesMaitrisees')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="formField ">
            <div class="flex gap-3 align-items-center">
              <div>
                <p-fileUpload
                  #fileUploader
                  [invalidFileSizeMessageDetail]="'Taille maximale de fichier authorisé est {0}'"
                  [invalidFileSizeMessageSummary]="'{0}: Taille de fichier invalide'"
                  mode="basic"
                  name="cvFile"
                  class="w-full"
                  chooseLabel="Charger votre CV"
                  accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf"
                  [maxFileSize]="MAX_UPLOADED_FILE_SIZE"
                  [customUpload]="true"
                  (onSelect)="onFileSelected($event)"
                ></p-fileUpload>
                <ng-container *ngIf="registerForm.get('email')?.dirty || registerForm.get('email')?.touched">
                  <small class="text-error" *ngIf="registerForm.controls['cvFile'].errors"> {{ registerForm.controls['cvFile'].errors['required'] }} </small>
                </ng-container>
              </div>
              <p-button *ngIf="selectedCVFile" styleClass="p-button-danger p-button-text" label="X" (onClick)="fileUploader.clear(); selectedCVFile = undefined"></p-button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="errorMsg" class="text-center">
        {{ errorMsg }}
      </div>
      <div class="text-center mt20">
        <p-button type="submit" [loading]="isSubmitting || isChecking" label="Je m'inscris" styleClass="p-button-secondary" [loading]="isSubmitting"></p-button>
      </div>
    </form>
  </div>
</section>

<section id="faq" class="section faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">FAQs</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div *ngFor="let item of listFAQ; index as i" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a
                  class="faq-toggle collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  [href]="'#collapse' + i"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  {{ item.question }}</a
                >
              </h4>
            </div>

            <div [id]="'collapse' + i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">{{ item.answer }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location" class="section location">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3 class="section-title">Lieu</h3>
        <address>
          <p>
            Institut Pasteur de Dakar<br />
            36 Avenue Pasteur, Dakar
          </p>
        </address>
      </div>
      <div class="col-sm-9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15439.984542484015!2d-17.4350714!3d14.6561607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1723375ee46b9%3A0xdd9f867e907addb5!2sPasteur%20Institute!5e0!3m2!1sen!2ssn!4v1692535262459!5m2!1sen!2ssn"
          width="100%"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="site-info">Designed and Developed by <a href="https://www.pasteur.sn/">Institut Pasteur de Dakar</a></p>
        <ul class="social-block">
          <li>
            <a href="https://x.com/pasteurdakar?s=21&t=ZsvCn6X7sZ4deZayIdgdvQ"><i class="ion-social-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/institut-pasteur-de-dakar/"><i class="ion-social-linkedin-outline"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
