<p-toast></p-toast>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <div class="site-branding">
        <a class="logo" href="index.html">
          <img src="assets/images/logo.png" alt="Logo" />
          Job Dating Event
        </a>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a data-scroll href="#about">About</a></li>

        <li><a data-scroll href="#registration">Inscription</a></li>
        <li><a data-scroll href="#schedule">Programme</a></li>
        <li><a data-scroll href="#partner">Partner</a></li>

        <li><a data-scroll href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar sticky-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Job Dating Event
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<header id="site-header" class="site-header valign-center">
  <div class="intro">
    <h2>25 April, 2015 / Townhall California</h2>

    <h1>Freelancer Conference 2015</h1>

    <p>First &amp; Largest Conference</p>

    <a class="btn btn-white" data-scroll href="#registration">Register Now</a>
  </div>
</header>

<section id="about" class="section about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-title">About Us</h3>

        <p>
          You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the
          logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.
        </p>

        <figure>
          <img alt="" class="img-responsive" src="assets/images/about-us.jpg" />
        </figure>
      </div>
      <!-- /.col-sm-6 -->

      <div class="col-sm-6">
        <h3 class="section-title multiple-title">What is Our Goal?</h3>

        <p>
          You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the
          logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.
        </p>

        <ul class="list-arrow-right">
          <li>Learn from the best Asian Social Media Experts &amp; Case Studies</li>
          <li>Have dedicated 2-to-1 meetings with the experts</li>
          <li>Reach more consumers for less by learning new digital media skills</li>
          <li>Save money when spending in online advertising</li>
        </ul>
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="facts" class="section bg-image-1 facts text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <i class="ion-ios-calendar"></i>
        <h3>2015<br />June 25</h3>
      </div>
      <div class="col-sm-3">
        <i class="ion-ios-location"></i>
        <h3>California<br />USA</h3>
      </div>
      <div class="col-sm-3">
        <i class="ion-pricetags"></i>
        <h3>150<br />Tickets</h3>
      </div>
      <div class="col-sm-3">
        <i class="ion-speakerphone"></i>
        <h3>06<br />Speakers</h3>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<section id="speakers" class="section speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Speakers</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-1.jpg" />
          </figure>

          <h4>Jhon Smith</h4>

          <p>CEO of Peren</p>

          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
        <!-- /.speaker -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-2.jpg" />
          </figure>

          <h4>Jhon Smith</h4>

          <p>CEO of Peren</p>

          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
        <!-- /.speaker -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-3.jpg" />
          </figure>

          <h4>Jhon Smith</h4>

          <p>CEO of Peren</p>

          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
        <!-- /.speaker -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-4.jpg" />
          </figure>

          <h4>Jhon Smith</h4>

          <p>CEO of Peren</p>

          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-5.jpg" />
          </figure>

          <h4>Jhon Smith</h4>

          <p>CEO of Peren</p>

          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="speaker">
          <figure>
            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg" />
          </figure>
          <h4>Jhon Smith</h4>
          <p>CEO of Peren</p>
          <ul class="social-block">
            <li>
              <a href=""><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-linkedin-outline"></i></a>
            </li>
            <li>
              <a href=""><i class="ion-social-googleplus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="section registration">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Je m'inscris</h3>
      </div>
    </div>

    <form [formGroup]="registerForm" (submit)="onSubmit()" id="registration-form">
      <div class="row">
        <div class="col-sm-6">
          <div class="field form-group">
            <div class=" p-float-label">
              <input class="w-full" type="text" id="firstname" placeholder="Prénom" pInputText formControlName="firstname" />
              <label htmlFor="firstname">Prénom</label>
            </div>
            <ng-container *ngIf="registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched">
              <small class="text-error" *ngIf="registerForm.get('firstname')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

          <div class="field form-group">
            <div class="p-float-label">
              <input class="w-full" id="lastname" type="text" placeholder="Nom" pInputText formControlName="lastname" />
              <label htmlFor="lastname">Nom</label>
            </div>
            <ng-container *ngIf="registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched">
              <small class="text-error" *ngIf="registerForm.get('lastname')?.errors">Ce champs est requis</small>
            </ng-container>
          </div>

          <div class="field form-group">
              <div class=" p-float-label">
                <input class="w-full" id="email" type="email" pInputText formControlName="email" placeholder="Email" />
                <label htmlFor="email">Email</label>
            </div>
            <ng-container *ngIf="registerForm.get('email')?.dirty || registerForm.get('email')?.touched">
              <small class="text-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['required']">Ce champs est requis</small>
              <small class="text-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['emailAlreadyExist']"> {{registerForm.controls['email'].errors['emailAlreadyExist']}} </small>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="field form-group">
                <div class="p-float-label">
                  <input type="text" id="phoneNumber" class="w-full" pInputText formControlName="phoneNumber" placeholder="Phone" id="cell" name="cell" />
                  <label htmlFor="phoneNumber">Numéro de Téléphone</label>
                </div>
                <ng-container *ngIf="registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched">
                    <small class="text-error" *ngIf="registerForm.get('phoneNumber')?.errors">Ce champs est requis</small>
                  </ng-container>
            </div>
          <div class="form-group">
            <p-dropdown styleClass="w-full" formControlName="residence" [options]="residenceChoices"></p-dropdown>
          </div>
          <div class="form-group">
            <input pInputText formControlName="cvFile" class="w-full" type="file" />
            <!-- <p-fileUpload name="cvFile" formControlName="cvFile" [customUpload]="true" [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                    <div class="py-3">Sélectionner/Glisser Déposer le fichier</div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                    <div>Custom UI to display a file</div>
                </ng-template>
            </p-fileUpload> -->
          </div>
        </div>
      </div>
      <div *ngIf="errorMsg" class="text-center">
        {{errorMsg}}
      </div>
      <div class="text-center mt20">
        <p-button type="submit" [loading]="isSubmitting" label="Submit" styleClass="p-button-secondary" [loading]="isSubmitting"></p-button>
      </div>
    </form>
  </div>
</section>

<section id="contribution" class="section bg-image-2 contribution">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase mt0 font-400">Submit Your Contribution Work</h3>

        <p>
          You've inspired new consumer, racked up click-thru's, blown-up brand awareness. We can't give you back the weekends you worked, or erase the pain of being forced to make
          the logo bigger. But if you submit your best work.
        </p>

        <a class="btn btn-white" href="#">Submit</a>
      </div>
    </div>
  </div>
</section>

<section id="schedule" class="section schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Event Schedule</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time></div>
          <h3>Welcome and intro</h3>
          <p>Mustafizur Khan, SD Asia</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time></div>
          <h3>Tips and share</h3>
          <p>Mustafizur Khan, SD Asia</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="schedule-box">
          <div class="time"><time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time></div>
          <h3>View from the top</h3>
          <p>Mustafizur Khan, SD Asia</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partner" class="section partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Event Partner</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="partner-box partner-box-1"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-2"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-3"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-4"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <a class="partner-box partner-box-5"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-6"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-7"></a>
      </div>
      <div class="col-sm-3">
        <a class="partner-box partner-box-8"></a>
      </div>
    </div>
  </div>
</section>

<section id="faq" class="section faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Event FAQs</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is the price of the ticket ?</a
                >
              </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h3>Hello</h3>
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is included in my ticket ?</a
                >
              </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">Hello</div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a
                  class="faq-toggle collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Office address ?</a
                >
              </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Hello</div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a
                  class="faq-toggle collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  How should I dress ?</a
                >
              </h4>
            </div>

            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">Hello</div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a
                  class="faq-toggle collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  I have specific questions that are not addressed here. Who can help me ?</a
                >
              </h4>
            </div>

            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">Hello</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="photos" class="section photos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Photos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="grid">
          <li class="grid-item grid-item-sm-6">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-1.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-5.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-6.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-7.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-8.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg" />
          </li>

          <li class="grid-item grid-item-sm-3">
            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="site-info">
          Institut Pasteur Dakar <br />
          Developed by DSI
        </p>
        <ul class="social-block">
          <li>
            <a href=""><i class="ion-social-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="ion-social-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="ion-social-linkedin-outline"></i></a>
          </li>
          <li>
            <a href=""><i class="ion-social-googleplus"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
